{% extends "layout_authen.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/admin/authen/forgot-password.css') }} " />

    <div class="page-forgot-password-main">
        <div class="brand hidden-md-up">
            <img class="brand-img" src=" {{ url_for('static', filename='images/admin/logo-colored-2x.png') }} "/>
            <h3 class="brand-text font-size-40">Remark</h3>
        </div>

        <h3 class="font-size-24">Forgot Your Password ?</h3>
        <p>Input your registered email to reset your password</p>

        <form method="post" role="form" autocomplete="off">
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="email" class="form-control empty" id="inputEmail" name="email">
            <label class="floating-label" for="inputEmail">Your Email</label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Reset Your Password</button>
          </div>
        </form>

        <p>No account? <a href="{{ url_for('admin.admin_register') }}">Sign Up</a></p>

        <p>Have account already? Please go to <a href="{{ url_for('admin.admin_login') }}">Sign In</a></p>

        <footer class="page-copyright">
            <p>WEBSITE BY sunsight-bk Team © 2018</p>
            <div class="social">
                <a class="btn btn-icon btn-round social-twitter mx-5" href="javascript:void(0)">
                    <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-round social-facebook mx-5" href="javascript:void(0)">
                    <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-round social-google-plus mx-5" href="javascript:void(0)">
                    <i class="icon bd-google-plus" aria-hidden="true"></i>
                </a>
            </div>
        </footer>
    </div>

{% endblock content %}